<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		.content
		{
			width:50%;
			height:400px;
			font-size:40px;
		}
		#content3
		{
			font-size:30px;
		}
		.comment
		{
			font-size:25px;
			margin-top:30px;
		}
		.author
		{
			font-size:15px;
			margin-top:2px;
		}
		.chart
		{
			width:100%;
			height:300px;
		}
	</style>
</head>
<body>
	<script type="text/javascript" src="/chart.js"></script>
	<div id="content">
		<div id="content1" class="content">
			到课情况</br>
			<canvas id="chart1" class="chart"></canvas>
		</div>
		<div id="content2" class="content">
			学生评分</br>
			<canvas id="chart2" class="chart"></canvas>
		</div>
		<div id="content3">
		</div>
		<div id="contentbutton">
		</div>
	</div>
	<script>
		var courseId,classId;
		
		function getId()
		{
			var p=window.location.href.split("/");
			p=p[p.length-1];
			courseId=p.split("&")[0];
			classId=p.split("&")[1];
		}
		
		var n,courseInfo,comments=new Array(),people=new Object(),score=new Array(11);
		
		$("#chart1")[0].height=$("#chart1")[0].width;
		$("#chart2")[0].height=$("#chart2")[0].width;
		var totalPages,nowPage,numberPerPage=15;
		
		function loadInfo()
		{
			people.attend=100;people.absense=10;
			for (i=0;i<11;++i) score[i]=10;
			$.get("/lessons/"+classId+".json",{},
			function(data)
			{
				courseInfo=data.name;
			});
			courseInfo="计算机组成原理";
			var i;
			n=100;
			for (i=0;i<n;++i)
			{
				comments[i]=new Object();
				comments[i].author="A"+i;
				comments[i].text="aaa";
			}
			totalPages=Math.floor((n-1)/numberPerPage+1);
			nowPage=1;
			$.get("/courses/"+courseId+"/students.json",{},
			function(data)
			{
				people.tot=data.size();
			});
			$.get("/lessons/"+classId+"/students.json",{},
			function(data)
			{
				people.attend=data.size();
				people.absense=people.tot-people.attend;
				var i;
				for (i=0;i<data.length;++i)
				{
					$.get("/students/"+data[i].id+"/lessons/"+classId+".json",{},
					function(data)
					{
						++score[data];
					});
				}
			});
			$.get("/lessons/"+classId+"/comments.json",{},
			function(data)
			{
				comments[n++]=data;
			});
		}
		
		function changePage(x)
		{
			nowPage+=x;
			if (nowPage<1) nowPage=1;
			if (nowPage>totalPages) nowPage=totalPages;
			showComments();
		}
		
		function showComments()
		{
			var text="课程评价</br>",t1,t2;
			t1=(nowPage-1)*numberPerPage;
			t2=nowPage*numberPerPage;
			if (t2>n) t2=n;
			for (i=t1;i<t2;++i)
			{
				text+='<div class="comment">'+comments[i].text+'</div>';
				text+='<div class="author">'+comments[i].author+'</div>';
			}
			$("#content3")[0].innerHTML=text;
			text='<button class="btn btn-default" onclick="changePage(-1)">上一页</button>';
			text+='第'+nowPage+'页 共'+totalPages+'页<button class="btn btn-default" onclick="changePage(1)">下一页</button>';
			$("#contentbutton")[0].innerHTML=text;
		}
		
		function showInfo()
		{
			var data,data2,text="",i;
			data={labels:["上课人数","缺勤人数"],datasets:[{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					data : [people.attend,people.absense]}]};
			data2={labels:["0分","1分","2分","3分","4分","5分","6分","7分","8分","9分","10分"],datasets:[{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					data : [score[0],score[1],score[2],score[3],score[4],score[5],score[6],score[7],score[8],score[9],score[10]]}]};
			var mychart,ctx = $("#chart1")[0].getContext("2d");
			mychart=new Chart(ctx).Bar(data);
			ctx = $("#chart2")[0].getContext("2d");
			mychart=new Chart(ctx).Bar(data2);
			showComments();
			
		}
		
		loadInfo();
		showInfo();
	</script>
</body>
