<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		.rectangleSemester
		{
			width:100%;
			height:50px;
			margin-top:15px;
		}
		.rectangleCourse
		{
			width:99%;
			height:50px;
			margin-left:1%;
			margin-top:6px;
		}
		.rectangleClass
		{
			width:98%;
			height:50px;
			margin-left:2%;
			margin-top:4px;
		}
		.rectangleCourseContent
		{
			width:98%;
			margin-left:2%;
			margin-top:6px;
		}
		.rectangleClassContent
		{
			width:97%;
			margin-left:3%;
			margin-top:4px;
		}
		.custombutton
		{
			float:right;
			margin-left:3px;
			margin-right:3px;
		}
		.names
		{
			float:left;
		}
	</style>
</head>
<body>

	<div id="content">
	</div>
	
	<div class="modal fade" id="modal-add-course" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>添加课程</h3>
				</div>
				<div class="modal-body">
					<h4>课程标题</h4>
					<input id="input1" type="text" class="form-control"></input>
					<h4>课程内容</h4>
					<textarea id="input2" type="text" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="confirmCourse()" data-dismiss="modal">添加</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-add-class" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>添加实验</h3>
				</div>
				<div class="modal-body">
					<h4>实验标题</h4>
					<input id="input3" type="text" class="form-control"></input>
					<h4>实验内容</h4>
					<textarea id="input4" type="text" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="confirmClass()" data-dismiss="modal">添加</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		var info,choosei,choosej,choosek;
		
		function confirmCourse()  //向后台传输新课程的信息
		{
			var text1,text2,i;
			text1=$("#input1")[0].value;
			text2=$("#input2")[0].value;
			var reg=new RegExp("\r\n","g");
			text2=text2.replace(reg,"<br>");
			$.post('/manage/AddCourseToCurrentUser',{name: text1,description: text2},
    		function(data)
    		{
    			if (data=="fail")
    			{
    				alert("添加失败");
    				return;
    			}
    			if (data=="succeed")
    			{
    				i=info.semesters[choosei].tot++;
    				info.semesters[choosei].courses[i]=new Object();
    				info.semesters[choosei].courses[i].name=text1;
    				info.semesters[choosei].courses[i].content=text2;
    				info.semesters[choosei].courses[i].tot=0;
    				info.semesters[choosei].courses[i].classes=new Array();
    				showInfo();
    				return;
    			}
    			alert("unexpected:"+data);
    		}
    		);
		}
		
		function confirmClass()  //向后台传输新实验的信息
		{
			var text1,text2,i;
			text1=$("#input3")[0].value;
			text2=$("#input4")[0].value;
			$.post('/manage/AddCourseToCurrentUser',{name: text1,description: text2},
    		function(data)
    		{
    			if (data=="fail")
    			{
    				alert("添加失败");
    				return;
    			}
    			if (data=="succeed")
    			{
    				i=info.semesters[choosei].courses[choosej].tot++;
    				info.semesters[choosei].courses[choosej].classes[i]=new Object();
    				info.semesters[choosei].courses[choosej].classes[i].name=text1;
    				info.semesters[choosei].courses[choosej].classes[i].content=text2;
    				showInfo();
    				return;
    			}
    			alert("unexpected:"+data);
    		}
    		);
		}
		
		function loadInfo()  //从后台获取课程信息
		{
			info=new Object();
			info.tot=2;
			info.semesters=new Array();
			var i,j,k;
			for (i=0;i<info.tot;++i)
			{
				info.semesters[i]=new Object();
				info.semesters[i].tot=2;
				info.semesters[i].name="2015年"+i;
				info.semesters[i].courses=new Array();
				info.semesters[i].clicked=false;
				for (j=0;j<info.semesters[i].tot;++j)
				{
					info.semesters[i].courses[j]=new Object();
					info.semesters[i].courses[j].tot=2;
					info.semesters[i].courses[j].name="大学物理"+j;
					info.semesters[i].courses[j].content="a";
					info.semesters[i].courses[j].classes=new Array();
					info.semesters[i].courses[j].clicked=false;
					for (k=0;k<=info.semesters[i].courses[j].tot;++k)
					{
						info.semesters[i].courses[j].classes[k]=new Object();
						info.semesters[i].courses[j].classes[k].name="实验"+k;
						info.semesters[i].courses[j].classes[k].content="a";
						info.semesters[i].courses[j].classes[k].clicked=false;
					}
				}
			}
		}
		   
		function change(i,j,k)  //i, j, k分别表示当前点击的学期，课程，实验
		{
			if (k!=-1)
			info.semesters[i].courses[j].classes[k].clicked=!info.semesters[i].courses[j].classes[k].clicked;
			else if (j!=-1)
			info.semesters[i].courses[j].clicked=!info.semesters[i].courses[j].clicked;
			else if (i!=-1)
			info.semesters[i].clicked=!info.semesters[i].clicked;
			showInfo();
		}
		
		function addCourse(event,i)  //为第i学期添加课程
		{
			choosei=i;
			$("#input1")[0].value=$("#input2")[0].value="";
			$('#modal-add-course').modal('show');
			event.stopPropagation();
		}
		
		function addClass(event,i,j) //为第i学期第j门课添加实验
		{
			choosei=i;choosej=j;
			$("#input3")[0].value=$("#input4")[0].value="";
			$('#modal-add-class').modal('show');
			event.stopPropagation();
		}
		 
		function showCourseScore(event,i,j)  //显示第i学期第j门课的学生成绩
		{
			event.stopPropagation();
		}
		
		function showCourseInfo(event,i,j)  //显示第i学期第j门课的课程信息
		{
			event.stopPropagation();
		}
		
		function showClassScore(event,i,j,k)  //显示第i学期第j门课的第k个实验的学生成绩
		{
			event.stopPropagation();
		}
		
		function showClassInfo(event,i,j,k)  //显示第i学期第j门课的第k个实验的课程信息
		{
			event.stopPropagation();
		}
		
		function check(str)
		{
			console.log(str);
			return str;
		}
		

		function showInfo()  //显示课程信息
		{
			var i,j,k,text="";j=k=-1;
			for (i=0;i<info.tot;++i)
			{
				text+='<div class="rectangleSemester btn btn-default" onclick="change('+i+','+j+','+k+')">';
				text+='<div class="names">'+info.semesters[i].name+'</div>';
				text+='<div class="btn btn-info custombutton" onclick="addCourse(event,'+i+')">添加课程</div>';
				text+='</div>';
				k=-1;
				if (info.semesters[i].clicked)
				for (j=0;j<info.semesters[i].tot;++j)
				{
					text+='<div class="rectangleCourse btn btn-default" onclick="change('+i+','+j+','+k+')">';
					text+='<div class="names">'+info.semesters[i].courses[j].name+'</div>';
					text+='<div class="btn btn-info custombutton" onclick="addClass(event,'+i+','+j+')">添加实验</div>';
					text+='<div class="btn btn-info custombutton" onclick="showCourseScore(event,'+i+','+j+')">查看成绩</div>';
					text+='<div class="btn btn-info custombutton" onclick="showCourseInfo(event,'+i+','+j+')">课程情况</div>';
					text+='</div>';
					if (info.semesters[i].courses[j].clicked)
					{
						text+='<div class="rectangleCourseContent btn btn-default">';
						text+=check(info.semesters[i].courses[j].content);
						text+='</div>';
						for (k=0;k<info.semesters[i].courses[j].tot;++k)
						{
							text+='<div class="rectangleClass btn btn-default" onclick="change('+i+','+j+','+k+')">';
							text+='<div class="names">'+info.semesters[i].courses[j].classes[k].name+'</div>';
							text+='<div class="btn btn-info custombutton" onclick="showClassScore(event,'+i+','+j+','+k+')">查看成绩</div>';
							text+='<div class="btn btn-info custombutton" onclick="showClassInfo(event,'+i+','+j+','+k+')">实验情况</div>';
							text+='</div>';
							if (info.semesters[i].courses[j].classes[k].clicked)
							{
								text+='<div class="rectangleClassContent btn btn-default">';
								text+=check(info.semesters[i].courses[j].classes[k].content);
								text+='</div>';
							}
						}
					}
					k=-1;
				}
				j=-1;
			}
			$("#content")[0].innerHTML=text;
		}
		
		loadInfo();
		showInfo();

	</script>
	
</body>
