<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		.rectangleSemester
		{
			width:100%;
			height:50px;
			margin-top:15px;
		}
		.rectangleCourse
		{
			width:99%;
			height:50px;
			margin-left:1%;
			margin-top:6px;
		}
		.rectangleClass
		{
			width:98%;
			height:50px;
			margin-left:2%;
			margin-top:4px;
		}
		.rectangleCourseContent
		{
			width:98%;
			margin-left:2%;
			margin-top:6px;
		}
		.rectangleClassContent
		{
			width:97%;
			margin-left:3%;
			margin-top:4px;
		}
		.custombutton
		{
			float:right;
			margin-left:3px;
			margin-right:3px;
		}
		.names
		{
			float:left;
		}
	</style>
</head>
<body>

	<div id="content">
	</div>
	
	<div class="modal fade" id="modal-add-semester" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>添加学期</h3>
				</div>
				<div class="modal-body">
					<h4>学期名称</h4>
					<input id="input-add-semester-1" type="text" class="form-control"></input>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="confirmSemester()" data-dismiss="modal">添加</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-add-course" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>添加课程</h3>
				</div>
				<div class="modal-body">
					<h4>课程标题</h4>
					<input id="input-add-course-1" type="text" class="form-control"></input>
					<h4>课程内容</h4>
					<textarea id="input-add-course-2" type="text" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="confirmCourse()" data-dismiss="modal">添加</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-modify-course" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>课程信息</h3>
				</div>
				<div class="modal-body">
					<h4>课程标题</h4>
					<input id="input-modify-course-1" type="text" class="form-control"></input>
					<h4>课程内容</h4>
					<textarea id="input-modify-course-2" type="text" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="modifyCourse()" data-dismiss="modal">修改</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-add-class" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>添加实验</h3>
				</div>
				<div class="modal-body">
					<h4>实验标题</h4>
					<input id="input-add-class-1" type="text" class="form-control"></input>
					<h4>实验内容</h4>
					<textarea id="input-add-class-2" type="text" class="form-control"></textarea>
					<h4>开始时间</h4>
					<input id="input-add-class-3" type="text" class="form-control" placeholder="2000-01-01 20:00"></input>    <!--#modify-->
					<h4>结束时间</h4>
					<input id="input-add-class-4" type="text" class="form-control" placeholder="2000-01-01 20:00"></input>    <!--#modify-->
					<h4>实验地点</h4>
					<input id="input-add-class-5" type="text" class="form-control"></input>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="confirmClass()" data-dismiss="modal">添加</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-modify-class" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>实验信息</h3>
				</div>
				<div class="modal-body">
					<h4>实验标题</h4>
					<input id="input-modify-class-1" type="text" class="form-control"></input>
					<h4>实验内容</h4>
					<textarea id="input-modify-class-2" type="text" class="form-control"></textarea>
					<h4>开始时间</h4>
					<input id="input-modify-class-3" type="text" class="form-control" placeholder="2000-01-01 20:00"></input>    <!--#modify-->
					<h4>结束时间</h4>
					<input id="input-modify-class-4" type="text" class="form-control" placeholder="2000-01-01 20:00"></input>    <!--#modify-->
					<h4>实验地点</h4>
					<input id="input-modify-class-5" type="text" class="form-control"></input>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="modifyClass()" data-dismiss="modal">修改</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>确认删除？</h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="deleteItem()" data-dismiss="modal">确认</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		var info,choosei,choosej,choosek,usersId;
		
		function confirmSemester()  //向后台传输新学期的信息
		{
			var text1,i,p;
			text1=$("#input-add-semester-1")[0].value;
			p=new Object();
			p.semester=new Object();
			p.semester.name=text1;
			console.log(p);
			$.post('/semesters.json', p,
    		function(data)
    		{
    			console.log(data);
    			if (data.status=="failed")
    			{
    				alert("添加失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				for (i=info.tot++;i>0;--i)
    				{
    					info.semesters[i]=info.semesters[i-1];
    				}
    				p.semester.id=data.id;
    				info.semesters[0]=p.semester;
    				info.semesters[0].tot=0;
    				info.semesters[0].clicked=false;
    				info.semesters[0].courses=new Array();
    				showInfo();
    				return;
    			}
    			alert("unexpected: /semesters.json");
    		}
    		);
		}
		
		function confirmCourse()  //新课程的信息
		{
			var text1,text2,i,p;
			text1=$("#input-add-course-1")[0].value;
			text2=$("#input-add-course-2")[0].value;
			p=new Object();
			p.course=new Object();
			p.course.name=text1;
			p.course.description=text2;
			p.course.semester_id=info.semesters[choosei].id;
			
			$.post('/teachers/'+usersId+'/courses.json', p,
    		function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("添加失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				for (i=info.semesters[choosei].tot++;i>0;--i)
    				{
    					info.semesters[choosei].courses[i]=info.semesters[choosei].courses[i-1];
    				}
    				p.course.id=data.id;
    				info.semesters[choosei].courses[0]=p.course;
    				info.semesters[choosei].courses[0].tot=0;
    				info.semesters[choosei].courses[0].clicked=false;
    				info.semesters[choosei].courses[0].classes=new Array();
    				showInfo();
    				return;
    			}
    			alert("unexpected: confirmCourse");
    		}
    		);
    	}
    	
    	function modifyCourse()    //修改课程信息
    	{
    		var text1,text2,i,p;
    		p=new Object();
    		p.course=info.semesters[choosei].courses[choosej];
    		text1=$("#input-modify-course-1")[0].value;
			text2=$("#input-modify-course-2")[0].value;
			p.course.name=text1;
			p.course.description=text2;
			$.ajax({url:'/courses/'+p.course.id+'.json',data:p,type:"PUT",async:false,success:function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("修改失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				info.semesters[choosei].courses[choosej]=p.course;
    				showInfo();
    				return;
    			}
    			alert("unexpected: modifyCourse");
    		}});
    	}
		
		function confirmClass()  //新实验的信息
		{
			var text1,text2,text3,text4,text5,i,p;
			p=new Object();
			text1=$("#input-add-class-1")[0].value;
			text2=$("#input-add-class-2")[0].value;
			text3=$("#input-add-class-3")[0].value;
			text4=$("#input-add-class-4")[0].value;
			text5=$("#input-add-class-5")[0].value;
			p.lesson=new Object();
			p.lesson.name=text1;
			p.lesson.description=text2;
			p.lesson.start_time=text3;
			p.lesson.end_time=text4;
			p.lesson.location=text5;
			
			
			$.post('/courses/'+info.semesters[choosei].courses[choosej].id+'/lessons.json',p,
    		function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("添加失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				p.lesson.id=data.id;
    				for (i=info.semesters[choosei].courses[choosej].tot++;i>0;--i)
    				{
    					info.semesters[choosei].courses[choosej].classes[i]=info.semesters[choosei].courses[choosej].classes[i-1];
    				}
    				info.semesters[choosei].courses[choosej].classes[0]=p.lesson;
    				info.semesters[choosei].courses[choosej].classes[0].clicked=false;
    				showInfo();
    				return;
    			}
    			alert("unexpected: confirmClass");
    		}
    		);
		}
		
		function modifyClass()  //修改实验信息
		{
			var text1,text2,text3,text4,text5,i,p;
			p=new Object();
			p.lesson=info.semesters[choosei].courses[choosej].classes[choosek];
			text1=$("#input-modify-class-1")[0].value;
			text2=$("#input-modify-class-2")[0].value;
			text3=$("#input-modify-class-3")[0].value;
			text4=$("#input-modify-class-4")[0].value;
			text5=$("#input-modify-class-5")[0].value;
			p.lesson.name=text1;
			p.lesson.description=text2;
			p.lesson.start_time=text3;
			p.lesson.end_time=text4;
			p.lesson.location=text5;
			
			$.ajax({url:'/lessons/'+p.lesson.id+'.json',data:p,type:"PUT",async:false,success:function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("修改失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				info.semesters[choosei].courses[choosej].classes[choosek]=p.lesson;
    				showInfo();
    				return;
    			}
    			alert("unexpected: modifyClass");
    		}});
		}
		
		function deleteItem()
		{
			var id=-1,i;
			if (choosek==-1)    //删除课程
			{
				id=info.semesters[choosei].courses[choosej].id;
				$.ajax({url:'/courses/'+id+'.json',data:{},type:"DELETE",success:function(data)
				{
					if (data.status=="failed")
    				{
    					alert("删除失败");return;
    				}
    				if (data.status=="successful")
    				{
    					for (i=choosej;i<info.semesters[choosei].tot-1;++i)
    					{
  							info.semesters[choosei].courses[i]=info.semesters[choosei].courses[i+1];
  						}
  						--info.semesters[choosei].tot;
    					showInfo();
    					return;
    				}
    				alert("unexpected: deleteItem");
    			}});
    		}else   //删除实验
    		{
    			id=info.semesters[choosei].courses[choosej].classes[choosek].id;
    			$.ajax({url:'/lessons/'+id+'.json',data:{},type:"DELETE",success:function(data)
				{
					if (data.status=="failed")
					{
						alert("删除失败");return;
					}
    				if (data.status=="successful")
    				{
    					for (i=choosek;i<info.semesters[choosei].courses[choosej].tot-1;++i)
    					{
  							info.semesters[choosei].courses[choosej].classes[i]=info.semesters[choosei].courses[choosej].classes[i+1];
  						}
  						--info.semesters[choosei].courses[choosej].tot;
    					showInfo();
    					return;
    				}
    				alert("unexpected: deleteItem");
    			}});
    		}
		}
					
		
		function loadInfo()  //从后台获取课程信息
		{
			info=new Object();
			info.tot=0;
			info.semesters=new Array();
/*			var i,j,k;
			for (i=0;i<info.tot;++i)
			{
				info.semesters[i]=new Object();
				info.semesters[i].tot=2;
				info.semesters[i].name="2015年"+i;
				info.semesters[i].courses=new Array();
				info.semesters[i].id=0;
				info.semesters[i].clicked=false;
				for (j=0;j<info.semesters[i].tot;++j)
				{
					info.semesters[i].courses[j]=new Object();
					info.semesters[i].courses[j].tot=2;
					info.semesters[i].courses[j].name="大学物理"+j;
					info.semesters[i].courses[j].description="a";
					info.semesters[i].courses[j].classes=new Array();
					info.semesters[i].courses[j].id=0;
					info.semesters[i].courses[j].clicked=false;
					for (k=0;k<=info.semesters[i].courses[j].tot;++k)
					{
						info.semesters[i].courses[j].classes[k]=new Object();
						info.semesters[i].courses[j].classes[k].name="实验"+k;
						info.semesters[i].courses[j].classes[k].description="a";
						info.semesters[i].courses[j].classes[k].id=0;
						info.semesters[i].courses[j].classes[k].start_time="0";
						info.semesters[i].courses[j].classes[k].end_time="0";
						info.semesters[i].courses[j].classes[k].location="0";
						info.semesters[i].courses[j].classes[k].clicked=false;
					}
				}
			}
			showInfo();*/
			var data1,data2;
			
			function deal()
			{
				if (data1.status=="failed"||data2.status=="failed")
				{
					alert("获取信息失败");
					return;
				}
				if (data1.status=="successful"&&data2.status=="successful")
				{
					var data,i,j,k,p1,p2;
					data=data1.semesters;
					for (i=0;i<data.length;++i)
					{
						j=info.tot++;
						info.semesters[j]=new Object();
						info.semesters[j].name=data[i].name;
						info.semesters[j].id=data[i].id;
						info.semesters[j].tot=0;
						info.semesters[j].courses=new Array();
						info.semesters[j].clicked=false;
					}
					usersId=data2.id;
					
					$.ajax({url:"/teachers/"+usersId+"/courses.json",data:{},async:false,type:"GET",success:function(data)    //#modify
					{
						if (data.status=="failed")
						{
							alert("获取信息失败");
							return;
						}
						if (data.status=="successful")
						{
							data=data.courses;
							for (p1=0;p1<data.length;++p1)
							{
								i=-1;
								for (j=0;j<info.tot;++j)
								if (info.semesters[j].id==data[p1].semester_id)
								{
									i=j;break;
								}
								if (i==-1)
								{
									alert("No such semester.");continue;
								}
								j=info.semesters[j].tot++;
								info.semesters[i].courses[j]=data[p1];
								info.semesters[i].courses[j].tot=0;
								info.semesters[i].courses[j].classes=new Array();
								info.semesters[i].courses[j].clicked=false;
								$.ajax({url:"/courses/"+data[p1].id+"/lessons.json",data:{},async:false,type:"GET",success:function(data)   //#modify
								{
									if (data.status=="failed")
									{
										alert("无法获取课程的实验");
										return;
									}
									if (data.status=="successful")
									{
										data=data.lessons;
										for (p2=0;p2<data.length;++p2)
										{
											k=info.semesters[i].courses[j].tot++;
											info.semesters[i].courses[j].classes[k]=data[p2];
											info.semesters[i].courses[j].classes[k].clicked=false;
										}
										return;
									}
									alert("unexpected: /courses/id/lessons.json");
								}});
							}
							showInfo();
						}else
						{
							alert("unexpected error");
						}
					}});
				}else
				{
					alert("unexpected error");
				}
			}
				
			$.ajax({url:"/semesters.json",data:{},type:"GET",success:function(data)
			{
				data1=data;
				if (data1&&data2) deal();
			}});
			
			$.ajax({url:"/users/current.json",data:{},type:"GET",success:function(data)    //#modify
			{
				data2=data;
				if (data1&&data2) deal();
			}});
			
		}
		
		function change(i,j,k)  //i, j, k分别表示当前点击的学期，课程，实验
		{
			if (k!=-1)
			info.semesters[i].courses[j].classes[k].clicked=!info.semesters[i].courses[j].classes[k].clicked;
			else if (j!=-1)
			info.semesters[i].courses[j].clicked=!info.semesters[i].courses[j].clicked;
			else if (i!=-1)
			info.semesters[i].clicked=!info.semesters[i].clicked;
			showInfo();
		}
		
		function changeCourseInfo(event,i,j)   //修改第i学期第j门课的信息
		{
			$("#input-modify-course-1")[0].value=info.semesters[i].courses[j].name;
			$("#input-modify-course-2")[0].value=info.semesters[i].courses[j].description;
			choosei=i;choosej=j;
			$('#modal-modify-course').modal('show');
			event.stopPropagation();
		}
		
		function changeClassInfo(event,i,j,k)  //修改第i学期第j门课的第k次实验的信息
		{
			$("#input-modify-class-1")[0].value=info.semesters[i].courses[j].classes[k].name;
			$("#input-modify-class-2")[0].value=info.semesters[i].courses[j].classes[k].description;
			$("#input-modify-class-3")[0].value=info.semesters[i].courses[j].classes[k].start_time;
			$("#input-modify-class-4")[0].value=info.semesters[i].courses[j].classes[k].end_time;
			$("#input-modify-class-5")[0].value=info.semesters[i].courses[j].classes[k].location;
			choosei=i;choosej=j;choosek=k;
			$('#modal-modify-class').modal('show');
			event.stopPropagation();
		}
		
		function addSemester(event)  //添加学期
		{
			$("#input-add-semester-1")[0].value="";
			$('#modal-add-semester').modal('show');
			event.stopPropagation();
		}
		
		function addCourse(event,i)  //为第i学期添加课程
		{
			choosei=i;
			$("#input-add-course-1")[0].value=$("#input-add-course-2")[0].value="";
			$('#modal-add-course').modal('show');
			event.stopPropagation();
		}
		
		function addClass(event,i,j) //为第i学期第j门课添加实验
		{
			choosei=i;choosej=j;
			$("#input-add-class-1")[0].value=$("#input-add-class-2")[0].value="";
			$("#input-add-class-3")[0].value=$("#input-add-class-4")[0].value=$("#input-add-class-5")[0].value="";
			$('#modal-add-class').modal('show');
			event.stopPropagation();
		}
		
		function showCourseScore(event,i,j)  //显示第i学期第j门课的学生成绩
		{
			window.open("/manage/CourseScore/"+info.semesters[i].courses[j].id);
			event.stopPropagation();
		}
		
		function showCourseInfo(event,i,j)  //显示第i学期第j门课的课程信息
		{
			window.open("/manage/CourseInfo/"+info.semesters[i].courses[j].id);
			event.stopPropagation();
		}
		
		function showClassScore(event,i,j,k)  //显示第i学期第j门课的第k个实验的学生成绩
		{
			window.open("/manage/ClassScore/"+info.semesters[i].courses[j].id+"&"+info.semesters[i].courses[j].classes[k].id);
			event.stopPropagation();
		}
		
		function showClassInfo(event,i,j,k)  //显示第i学期第j门课的第k个实验的课程信息
		{
			window.open("/manage/ClassInfo/"+info.semesters[i].courses[j].id+"&"+info.semesters[i].courses[j].classes[k].id);
			event.stopPropagation();
		}
		
		function deleteCourse(event,i,j)  //删除第i学期第j门课
		{
			choosei=i;choosej=j;choosek=-1;
			$('#modal-delete').modal('show');
			event.stopPropagation();
		}
		
		function deleteClass(event,i,j,k)  //删除第i学期第j门课的第k个实验
		{
			choosei=i;choosej=j;choosek=k;
			$('#modal-delete').modal('show');
			event.stopPropagation();
		}
		
		function showInfo()  //显示课程信息
		{
			var i,j,k,text="";j=k=-1;
			
			for (i=0;i<info.tot;++i)
			{
				text+='<div class="rectangleSemester btn btn-default" onclick="change('+i+','+j+','+k+')">';
				text+='<div class="names">'+info.semesters[i].name+'</div>';
				text+='<div class="btn btn-info custombutton" onclick="addSemester(event)">添加学期</div>';
				text+='<div class="btn btn-info custombutton" onclick="addCourse(event,'+i+')">添加课程</div>';
				text+='</div>';
				k=-1;
				if (info.semesters[i].clicked)
				for (j=0;j<info.semesters[i].tot;++j)
				{
					text+='<div class="rectangleCourse btn btn-default" onclick="change('+i+','+j+','+k+')">';
					text+='<div class="names">'+info.semesters[i].courses[j].name+'</div>';
					text+='<div class="custombutton" onclick="deleteCourse(event,'+i+','+j+')">×</div>';
					text+='<div class="btn btn-info custombutton" onclick="changeCourseInfo(event,'+i+','+j+')">查看|修改信息</div>';
					text+='<div class="btn btn-info custombutton" onclick="addClass(event,'+i+','+j+')">添加实验</div>';
					text+='<div class="btn btn-info custombutton" onclick="showCourseScore(event,'+i+','+j+')">查看成绩</div>';
					text+='<div class="btn btn-info custombutton" onclick="showCourseInfo(event,'+i+','+j+')">课程情况</div>';
					text+='</div>';
					if (info.semesters[i].courses[j].clicked)
					{
						for (k=0;k<info.semesters[i].courses[j].tot;++k)
						{
							text+='<div class="rectangleClass btn btn-default" onclick="change('+i+','+j+','+k+')">';
							text+='<div class="names">'+info.semesters[i].courses[j].classes[k].name+'</div>';
							text+='<div class="custombutton" onclick="deleteClass(event,'+i+','+j+','+k+')">×</div>';
							text+='<div class="btn btn-info custombutton" onclick="changeClassInfo(event,'+i+','+j+','+k+')">查看|修改信息</div>';
							text+='<div class="btn btn-info custombutton" onclick="showClassScore(event,'+i+','+j+','+k+')">查看成绩</div>';
							text+='<div class="btn btn-info custombutton" onclick="showClassInfo(event,'+i+','+j+','+k+')">实验情况</div>';
							text+='</div>';
						}
					}
					k=-1;
				}
				j=-1;
			}
			
			$("#content")[0].innerHTML=text;
		}
		
		loadInfo();

	</script>
	
</body>
