
  <script src="/video/video.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
      // 这段代码必须放在video.js后面ss
      // 页面加载完成  才加载VideoJS的标签
      VideoJS.setupAllWhenReady();
  </script>
  <!-- 皮肤 -->
  <link rel="stylesheet" href="/video/video-js.css" type="text/css" media="screen" title="Video JS">

  <div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
            <!-- Begin VideoJS -->
            <div class="video-js-box " style="margin: 20px;border-right: groove 1px #000000">
              <video id="example_video_3" class="video-js vjs-big-play-centered"
                     width="500" height="264" style="margin: auto" controls
                     preload="auto" data-setup="{}">
                <source src="/test.mp4" type='video/mp4;' />
              </video>
              </div>
    </div>
      <div class="col-md-4"></div>
    </div>
  </div>
<!-- End VideoJS -->
