<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		#content1
		{
			width:100%;
			height:60px;
			font-size:40px;
			margin-top:30px;
			margin-bottom:10px;
			text-align:left;
		}
		#content2
		{
			font-size:25px;
			text-align:left;
		}
		#photos
		{
			margin-top:20px;
		}
		.photo
		{
			margin-top:15px;
		}
	</style>
</head>
<body>
	<script type="text/javascript" src="/chart.js"></script>
	<div id="content">
		<div id="content1">
			学生信息
		</div>
		<div id="content2">
		</div>
		<div id="photos">
		</div>
	</div>
	<script>
		var n,studentInfo,photos;
		function loadInfo()
		{
			n=2;
			studentInfo="xxx";
			photos=new Array();
			photos[0]="/photos/1.jpg";
			photos[1]="/photos/2.jpg";
		}
		
		function showInfo()
		{
			var text="",i;
			$("#content2")[0].innerHTML=studentInfo;
			for (i=0;i<n;++i)
			{
				text+='<div class="photo"><img src="'+photos[i]+'" class="img-responsive"></img></div>';
			}
			$("#photos")[0].innerHTML=text;
		}
		
		loadInfo();
		showInfo();
	</script>
</body>
