<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		.custominput
		{
		}
	</style>
	<script>
		var KEYCODE_ENTER=13,KEYCODE_ESC=27;
	</script>
</head>
<body>
	<div id="content">
	</div>
	<script>
		var courseId,classId=new Array();
		
		function getId()
		{
			var p=window.location.href.split("/");
			p=p[p.length-1];
			courseId=p;
		}
		
		var n,m,tot,info,items,courseInfo,lastChoose=-1,p=0,focusi=-1,focusj=-1;
		
		function loadInfo()
		{
			getId();
			courseInfo="计算机组成原理";
			var i;
			n1=4;n2=3;m=2;
			items=new Object();
			items.peopleInfo=new Array();
			items.classNames=new Array();
			items.peopleInfo[0]="学号";items.peopleInfo[1]="姓名";
			items.peopleInfo[2]="系";items.peopleInfo[3]="班级";
			items.classNames[0]="1";items.classNames[1]="2";items.classNames[2]="3";
			info=new Array();
			for (i=0;i<m;++i)
			{
				info[i]=new Object();
				info[i].people=new Object();
				info[i].classScore=new Array();
				info[i].people.student_number="201401130"+i;
				info[i].people.name="A"+i;
				info[i].people.department="计算机系";
				info[i].people.class_name="计xx";
				info[i].people.id=0;
				info[i].classScore[0]=i;
				info[i].classScore[1]=i;
				info[i].classScore[2]=i;
			}
			showInfo();
			var p1=false,p2=false;
			function deal()
			{
				$.get("/courses/"+courseId+"/students.json",{},
				function(data)
				{
					console.log(data);
					if (data.status=="failed")
					{
						alert("学生名单加载失败");
						return;
					}
					if (data.status=="successful")
					{
						var i,j;data=data.students;
						for (i=0;i<data.length;++i)
						{
							info[m]=new Object();
							info[m].classScore=new Array();
							var p=true;
							$.ajax({url:"/students/"+data[i].id+".json",data:{},type:"GET",async:false,success:function(data)
							{
								console.log(data);
								if (data.status=="successful")
								{
									info[m].people=data.student;
								}else
								{
									p=false;
								}
							}});
							for (j=0;j<tot;++j)
							{
								$.ajax({url:"/students/"+data[i].id+"/lessons/"+classId[j]+".json",data:{},type:"GET",async:false,success:function(data)
								{
									console.log(data);
									info[m].classScore[j]=j;
									if (data.status=="successful")
									{
										info[m].classScore[j]=data.score; //#modify
									}else
									{
										p=false;
									}
								}});
							}
							if (p) ++m;
						}
						showInfo();
					}
				});
			}
			$.get("/courses/"+courseId+".json",{},
			function(data)
			{
				console.log(data);
				if (data.status=="failed")
				{
					alert("获取课程信息失败");
					return;
				}
				if (data.status=="successful")
				{
					courseInfo=data.course.name;
					p1=true;
					if (p1&&p2) deal();
					return;
				}
				alert("unexpected: /courses/id.json");
			});
			$.get("/courses/"+courseId+"/lessons.json",{},
			function(data)
			{
				console.log(data);
				if (data.status=="failed")
				{
					alert("获取实验信息失败");
					return;
				}
				if (data.status=="successful")
				{
					data=data.lessons;
					var i;n2=data.length;
					for (i=0;i<data.length;++i)
					{
						classId[i]=data[i].id;
						items.classNames[i]=data[i].name;
					}
					p2=true;
					if (p1&&p2) deal();
					return;
				}
				alert("unexpected: /courses/id/lessons.json");
			});
		}
		
		function compare(x,y,p)
		{
			if (p==0&&x<y||p==1&&x>y) return true;
			else return false;
		}
		
		function qsort(l,r,x,p)
		{
			var i=l,j=r,m=info[Math.floor((i+j)/2)][x],t;
			while (i<=j)
			{
				while (i<=j&&compare(info[i][x],m,p)) ++i;
				while (i<=j&&compare(m,info[j][x],p)) --j;
				if (i<=j)
				{
					t=info[i];info[i]=info[j];info[j]=t;
					++i;--j;
				}
			}
			if (i<r) qsort(i,r,x,p);
			if (l<j) qsort(l,j,x,p);
		}
		
		function option(x)
		{
			if (focusi!=-1&&focusj!=-1) return;
			if (x!=lastChoose) lastChoose=x,p=0;
			else p=1-p;
			qsort(0,m-1,x,p);
			showInfo();
		}
		
		function enterPress(evt,i,j)
		{
			evt=evt?evt:(window.event?window.event:null);
			if (evt.keyCode==KEYCODE_ENTER)
			{
				var p=$("#table1")[0].rows[i].cells[j],text=$("input")[0].value;
				if (!isNaN(text))
				{
					p.innerHTML=text;
					focusi=focusj=-1;
				}
			}
		}
		
		function escPress(event)
		{
			var evt=event?event:(window.event?window.event:null);
			if (evt.keyCode==KEYCODE_ESC)
			{
				if (focusi!=-1&&focusj!=-1)
				{
					p=$("#table1")[0].rows[focusi].cells[focusj],text=$("input")[0].placeholder;
					p.innerHTML=text;
					focusi=focusj=-1;
				}
			}
		}
		window.document.onkeydown=escPress;
		
		function clickDownload(aLink)
		{
			if (focusi!=-1&&focusj!=-1) return; 
			var p=$("#table1")[0],i,j,n=p.rows.length,m=p.rows[2].cells.length,data="",text;
			for (i=2;i<n;++i)
			{
				text=p.rows[i].cells[0].textContent;
				if (!text) text=p.rows[i].cells[0].innerText;
				data+=text;
				for (j=0;j<m;++j)
				{
					text=p.rows[i].cells[j].textContent;
					if (!text) text=p.rows[i].cells[j].innerText;
					data+=','+text;
				}
				data+='\n';
			}
       //  	data =  encodeURIComponent(data);  
			data = "\ufeff"+data;
			var blob = new Blob([data], { type: 'text/csv,charset=UTF-8'});
    		var csvUrl = URL.createObjectURL(blob);  
    		$("#export")[0].href = csvUrl;
		}
		
		function change(i,j)
		{
			var p,text;
			if (focusi==i&&focusj==j) return;
			if (focusi!=-1&&focusj!=-1)
			{
				p=$("#table1")[0].rows[focusi].cells[focusj],text=$("input")[0].placeholder;
				p.innerHTML=text;
			}
			focusi=i;focusj=j;
			p=$("#table1")[0].rows[i].cells[j];text=p.innerHTML;
			text='<input type="text" class="form-control custominput" onkeydown="enterPress(event,'+i+','+j+')" placeholder="'+text+'">';
			p.innerHTML=text;
		}
		
		function showInfo()
		{
			console.log(info);
			var i,j,text="";
			text+='<h3>课程成绩</h3>';
			text+='<table id="table1" class="table table-bordered table-striped table-hover">';
			text+='<thread><tr><th colspan="'+(n1+n2-1)+'">'+courseInfo+'</th>';
			text+='<th><a id="export" onclick="clickDownload(this)" download="'+courseInfo+'.csv" href="#">导出</a>'+'</th></tr>';
			text+='<tr><th colspan="'+n1+'">学生信息</th><th colspan="'+n2+'">成绩</th></tr>';
			text+='<tr>';
			for (i=0;i<n1;++i)
			text+='<th onclick="option('+i+')">'+items.peopleInfo[i]+'</th>';
			for (i=0;i<n2;++i)
			text+='<th onclick="option('+n1+i+')">'+items.classNames[i]+'</th>';
			text+='</thread><tbody>';
			for (i=0;i<m;++i)
			{
				text+='<tr>';
				text+='<td>'+info[i].people.student_number+'</td>';
				text+='<td>'+info[i].people.name+'</td>';
				text+='<td>'+info[i].people.department+'</td>';
				text+='<td>'+info[i].people.class_name+'</td>';
				for (j=0;j<n2;++j)
				{
					text+='<td ondblclick="change('+(i+3)+','+(n1+j)+')">'+info[i].classScore[j]+'</td>';
				}
				text+='</tr>';
			}
			text+='</tbody></table>';
			$("#content")[0].innerHTML=text;
		}
		
		loadInfo();
	</script>
</body>
