<div class="header"
     style="margin-left: 10%;margin-right: 10%;margin-top: 3ch;">
  <div class="row">
    <ul class="nav nav-tabs" style="padding-bottom: 2ch">
        <li><span>网络原理实验管理系统</span></li>
        <li class="pull-right"><button class="pull-right btn btn-primary">Sign in</button></li>
    </ul>
  <br>
  </div>
</div>