<form action="/students/1/lessons/1/files.json" method="post" enctype="multipart/form-data">
  <input type="file" name="file[file]">
  <label>name
  <input type="text" name="file[name]">
  </label>
  <label>type<input name="file[type]" type="text"></label>
  <button type="submit" >submit</button>
</form>

<form action="/courses/1/teachers/1.json" method="post">
  <button type="submit">add teacher</button>
</form>

<form action="/courses/1/students/1.json" method="post">
  <button type="submit">add students</button>
</form>

<form action="/students/5/lessons/1/comments.json" method="post">
  <label>comment <input name="lesson_comment[content]"></label><label> score<input name="lesson_comment[score]"></label>
  <button type="submit">add comment to 5</button>
</form>