<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
  	<meta name="author" content="oscar999">
  	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		.keep-line
		{
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
		}
	</style>
	<script>
		var KEYCODE_ENTER=13,KEYCODE_ESC=27;
	</script>
</head>
<body>
	<div id="content">	
	</div>
	<script>
		var courseId,classId;
		
		function getId()    //获取当前课程和实验的id
		{
			var p=window.location.href.split("/");
			p=p[p.length-1];
			courseId=p.split("&")[0];
			classId=p.split("&")[1];
		}
		
		var n1,n2,m,info,items,classInfo,lastChoose=-1,p=0,focusi=-1,focusj=-1;
		
		function loadInfo()    //获取实验成绩信息
		{
			getId();
			var i,j,k;
			n1=4;n2=5;m=0;
			items=new Object();
			items.peopleInfo=new Array();
			items.scoreInfo=new Array();
			items.peopleInfo[0]="学号";items.peopleInfo[1]="姓名";
			items.peopleInfo[2]="系";items.peopleInfo[3]="班级";
			items.scoreInfo[0]="成绩";items.scoreInfo[1]="图片数";items.scoreInfo[2]="视频数";
			items.scoreInfo[3]="打分助教";items.scoreInfo[4]="跳转查看";
			info=new Array();
			$.get('/lessons/'+classId+'.json?full=true',{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("成绩加载失败");
				}
				if (data.status=="successful")
				{
					data=data.lesson;
					console.log(data);
					classInfo=data.name;
					data=data.students;
					m=data.length;
					for (i=0;i<m;++i)
					{
						info[i]=new Object();
						info[i].scoreInfo=new Object();
						if (data[i].comment)
						{
							info[i].scoreInfo.score=data[i].comment.score;
							info[i].scoreInfo.creator_name=data[i].comment.creator_name;
						}
						if (!info[i].scoreInfo.score)
						{
							info[i].scoreInfo.score="未登记";
						}
						if (!info[i].scoreInfo.creator_name)
						{
							info[i].scoreInfo.creator_name="未定";
						}
						if (data[i].files_number)
						{
							info[i].scoreInfo.picture_number=data[i].files_number.images;
							info[i].scoreInfo.video_number=data[i].files_number.videos;
						}else
						{
							info[i].scoreInfo.picture_number=info[i].scoreInfo.video_number=0;
						}
						info[i].people=data[i];
					}
					showInfo();
				}
			});
		}
		
		function compare(x,y,o,p)
		{
			switch (o)
			{
				case 0:
					x=x.people.student_number;
					y=y.people.student_number;
					break;
				case 1:
					x=x.people.name;
					y=y.people.name;
					break;
				case 2:
					x=x.people.department;
					y=y.people.department;
					break;
				case 3:
					x=x.people.class_name;
					y=y.people.class_name;
					break;
				case 4:
					x=x.scoreInfo.score;
					y=y.scoreInfo.score;
					break;
				case 5:
					x=x.scoreInfo.picture_number;
					y=y.scoreInfo.picture_number;
					break;
				case 6:
					x=x.scoreInfo.video_number;
					y=y.scoreInfo.video_number;
					break;
				case 7:
					x=x.scoreInfo.creator_name;
					y=y.scoreInfo.creator_name;
					break;
				default:
			}
			if (p==0&&x<y||p==1&&x>y) return true;
			else return false;
		}
		
		function qsort(l,r,x,p)
		{
			var i=l,j=r,m=info[Math.floor((i+j)/2)],t;
			while (i<=j)
			{
				while (i<=j&&compare(info[i],m,x,p)) ++i;
				while (i<=j&&compare(m,info[j],x,p)) --j;
				if (i<=j)
				{
					t=info[i];info[i]=info[j];info[j]=t;
					++i;--j;
				}
			}
			if (i<r) qsort(i,r,x,p);
			if (l<j) qsort(l,j,x,p);
		}
		
		function option(x)
		{
			if (focusi!=-1&&focusj!=-1) return;
			if (x!=lastChoose) lastChoose=x,p=0;
			else p=1-p;
			console.log(x,p);
			qsort(0,m-1,x,p);
			showInfo();
		}
		
/*		function enterPress(evt,i,j)
		{
			evt=evt?evt:(window.event?window.event:null);
			if (evt.keyCode==KEYCODE_ENTER)
			{
				var p=$("#table1")[0].rows[i].cells[j],text=$("input")[0].value;
				if (!isNaN(text))
				{
					p.innerHTML=text;
					focusi=focusj=-1;
				}
			}
		}
		
		function escPress(event)
		{
			var evt=event?event:(window.event?window.event:null);
			if (evt.keyCode==KEYCODE_ESC)
			{
				if (focusi!=-1&&focusj!=-1)
				{
					p=$("#table1")[0].rows[focusi].cells[focusj],text=$("input")[0].placeholder;
					p.innerHTML=text;
					focusi=focusj=-1;
				}
			}
		}
		window.document.onkeydown=escPress;*/
		
		function clickDownload(aLink)    //导出csv文件
		{
			if (focusi!=-1&&focusj!=-1) return; 
			var p=$("#table1")[0],i,j,n=p.rows.length,m=p.rows[2].cells.length,data="",text="";
			data="学号,姓名,系,班级,成绩,图片数,视频数,打分助教\n";
			for (i=3;i<n;++i)
			{
				text=p.rows[i].cells[0].textContent;
				if (!text) text=p.rows[i].cells[0].innerText;
				data+=text;
				for (j=1;j<m-1;++j)
				{
					text=p.rows[i].cells[j].textContent;
					if (!text) text=p.rows[i].cells[j].innerText;
					data+=','+text;
				}
				data+='\n';
			}
       //  	data =  encodeURIComponent(data);  
			data = "\ufeff"+data;
			var blob = new Blob([data], { type: 'text/csv,charset=UTF-8'});
    		var csvUrl = URL.createObjectURL(blob);  
    		$("#export")[0].href = csvUrl;
		}
		
/*		function change(i,j)
		{
			var p,text;
			if (focusi==i&&focusj==j) return;
			if (focusi!=-1&&focusj!=-1)
			{
				p=$("#table1")[0].rows[focusi].cells[focusj],text=$("input")[0].placeholder;
				p.innerHTML=text;
			}
			focusi=i;focusj=j;
			p=$("#table1")[0].rows[i].cells[j];text=p.innerHTML;
			text='<input type="text" class="form-control custominput" onkeydown="enterPress(event,'+i+','+j+')" placeholder="'+text+'">';
			p.innerHTML=text;
		}*/
		
		function showInfo()    //显示实验成绩
		{
			var i,j,text="",text2;
			text+='<h3>实验成绩</h3>';
			text+='<table id="table1" class="table table-bordered table-striped table-hover">';
			text+='<thread><tr><th colspan="'+(n1+n2-1)+'">'+classInfo+'</th>';
			text+='<th><a id="export" onclick="clickDownload(this)" download="'+classInfo+'.csv" href="#">导出</a>'+'</th></tr>';
			text+='<tr><th colspan="'+n1+'">学生信息</th><th colspan="'+n2+'">实验情况</th></tr>';
			text+='<tr>';
			for (i=0;i<n1;++i)
			{
				text2=items.peopleInfo[i];
				if (lastChoose==i)
				{
					if (p==0)
					{
						text2+='▼';
					}
					else
					{
						text2+='▲';
					}
				}else
				{
					text2+='&#12288;';
				}
				text+='<th class="keep-line" onclick="option('+i+')">'+text2+'</th>';
			}
			for (i=0;i<n2;++i)
			{
				text2=items.scoreInfo[i];
				if (lastChoose==n1+i)
				{
					if (p==0)
					{
						text2+='▼';
					}
					else
					{
						text2+='▲';
					}
				}else
				{
					text2+='&#12288;';
				}
				if (i<n2-1)
				{
					text+='<th class="keep-line" onclick="option('+(n1+i)+')">'+text2+'</th>';
				}
				else
				{
					text+='<th class="keep-line">'+text2+'</th>';
				}
			}
			text+='</thread><tbody>';
			for (i=0;i<m;++i)
			{
				text+='<tr>';
				text+='<td class="keep-line">'+info[i].people.student_number+'</td>';
				text+='<td class="keep-line">'+info[i].people.name+'</td>';
				text+='<td class="keep-line">'+info[i].people.department+'</td>';
				text+='<td class="keep-line">'+info[i].people.class_name+'</td>';
				text+='<td class="keep-line">'+info[i].scoreInfo.score+'</td>';
				text+='<td class="keep-line">'+info[i].scoreInfo.picture_number+'</td>';
				text+='<td class="keep-line">'+info[i].scoreInfo.video_number+'</td>';
				text+='<td class="keep-line">'+info[i].scoreInfo.creator_name+'</td>';
				text+='<td class="keep-line"><a href="/manage/student/'+info[i].people.id+'/lesson/'+classId+'" target="_blank">查看</a></td>';
				text+='</tr>';
			}
			text+='</tbody></table>';
			$("#content")[0].innerHTML=text;
		}
		
		loadInfo();
	</script>
</body>
