<head>
	<link href="/common.css" rel=stylesheet type="text/css">
	<style type="text/css">
		.content
		{
			width:100%;
			height:400px;
		}
		.texts
		{
			font-size:30px;
			height:50px;
			text-align:left;
		}
		.chart
		{
			height:295px;
			float:left;
		}
		#title
		{
			font-size:60px;
		}
	</style>
</head>
<body>
	<script type="text/javascript" src="/chart.js"></script>
	<div id="content">
		<div id="title">
		</div>
		<div id="content1" class="content">
			<div id="text1" class="texts">
			</div>
			<canvas id="chart1" class="chart"></canvas>
		</div>
		<div id="content2" class="content">
			<div id="text2" class="texts">
			</div>
			<canvas id="chart2" class="chart"></canvas>
		</div>
	</div>
	<script>
		var courseId,classId;
		
		function getId()    //获取当前课程id
		{
			var p=window.location.href.split("/");
			p=p[p.length-1];
			courseId=p;
		}
		
		var n,courseInfo,lessons=new Array(),score=new Array();
		
		function loadInfo()    //获取课程信息
		{
			getId();
			var i,j;
			var p1=false,p2=false;
			function deal()
			{
				showInfo();
			}
			$.get("/courses/"+courseId+".json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取课程信息失败");
				}
				if (data.status=="successful")
				{
					courseInfo=data.course.name;
					p1=true;
					if (p1&&p2) deal();
				}
			});
			$.get("/courses/"+courseId+"/lessons.json",{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取实验名字信息失败");
					return;
				}
				if (data.status=="successful")
				{
					data=data.lessons;
					var i,j,p;n=0;
					for (i=0;i<data.length;++i)
					{
						lessons[n]=new Object();
						score[n]=0;
						classId=data[i].id;
						p=true;
						$.ajax({url:"/lessons/"+classId+".json",data:{},type:"GET",async:false,success:function(data)
						{
							if (data.status=="failed")
							{
								p=false;
							}
							if (data.status=="successful")
							{
								lessons[n].name=data.lesson.name;
							}
						}});
						if (!p)
						{
							continue;
						}
						$.ajax({url:"/lessons/"+classId+"/comments.json",data:{},type:"GET",async:false,success:function(data)
						{
							if (data.status=="failed")
							{
								score[i]=0;
								lessons[i].attend=0;
							}
							if (data.status=="successful")
							{
								var j;
								data=data.lesson_comments;
								lessons[i].attend=data.length;
								for (j=0;j<data.length;++j)
								{
									score[i]+=parseInt(data[j].score);
								};
								if (data.length>0)
								{
									score[i]=score[i]*1.0/data.length;
								}
								else
								{
									score[i]=0;
								}
							}
						}});
						++n;
					}
					p2=true;
					if (p1&&p2) deal();
				}
			});
		}
		
		function showInfo()    //显示课程信息
		{
			var data,data2,text="",i,label1=[],label2=new Array(),data1=new Array(),data2=new Array(),i;
			for (i=0;i<n;++i)
			{
				label1[i]=lessons[i].name;
				data1[i]=lessons[i].attend;
			}
			
			$("#title")[0].innerHTML=courseInfo;
			data={labels:label1,datasets:[{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : data1}]};
			data2={labels:label1,datasets:[{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : score}]};
			
			var mychart,ctx = $("#chart1")[0].getContext("2d");
			mychart=new Chart(ctx).Bar(data);
			ctx = $("#chart2")[0].getContext("2d");
			mychart=new Chart(ctx).Bar(data2);
			$("#text1")[0].innerHTML="到课情况";
			$("#text2")[0].innerHTML="学生评分";
		}
		
		loadInfo();
	</script>
</body>
