<script src="/csv.js"></script>
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3>添加学生</h3>
      </div>
      <div class="modal-body">
        <h4>请选择csv文件</h4>
        <label><input id="csvfile" type="file"></label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" onclick="parse_csv()" data-dismiss="modal">修改</button>
        <button class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-md-6">
        <h1><%=@course_name%></h1>
      </div>
      <div class="col-md-6">
        <p></p>
        <p>目前已经有<span id="student-number">0</span>人在学这门课!</p>
        <button class="btn btn-block btn-sm" id="readButton">添加学生</button>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>系别</th>
            <th>班级</th>
            <th>邮箱</th>
            <th>电话</th>
        </tr>
        </thead>
        <tbody id = "student-list">

        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<script>
    (function(){
        $("#readButton").click(function(){$("#modal-add").modal('show');});
        $.get("/courses/<%=@course_id%>/students.json",{},function(data){
            console.log(data);
            str = "";
            for(var i in data.students)
            {
                str += "<tr>" +"<td>"+ data.students[i].student_number.toString()+"</td>"
                        +"<td>"+ data.students[i].name.toString()+"</td>"
                        +"<td>"+ data.students[i].department.toString()+"</td>"
                        +"<td>"+ data.students[i].class_name.toString()+"</td>"
                        +"<td>"+ data.students[i].email.toString()+"</td>"
                        +"<td>"+ data.students[i].phone.toString()+"</td>"+"</tr>";
            }
            $("#student-list").html(str);
            $("#student-number").html(data.students.length);
        });
    })();
        function parse_csv(){
            var r = new FileReader();
            r.onload = function(){
                var students_info = CSV.parse(r.result);
                for(var i in students_info)
                {
                    var student = students_info[i];
                }
            }
            r.readAsText($("#csvfile")[0].files[0]);
        }
</script>
