<head>
	<link href="/common.css" rel=stylesheet type="text/css"/>
	<link href="/jquery-ui-1.11.4/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<link href="/jquery-ui-timepicker/jquery-ui-timepicker-addon.css" rel=stylesheet type="text/css"/>
	<script src="/jquery.form.js" type="text/javascript"></script>
	<script src="/jquery-ui-1.11.4/jquery-ui.js" type="text/javascript"></script>
	<script src="/jquery-ui-timepicker/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
	<style type="text/css">
		.rectangle-semester
		{
			width:100%;
			height:50px;
		}
		
		.rectangle-course
		{
			width:97%;
			height:50px;
			margin-left:3%;
			margin-top:15px;
		}
		
		.rectangle-class
		{
			width:94%;
			height:50px;
			margin-left:6%;
			margin-top:4px;
		}
		
		.rectangle-course-content
		{
			width:98%;
			margin-left:2%;
			margin-top:6px;
		}
		
		.rectangle-class-content
		{
			width:97%;
			margin-left:3%;
			margin-top:4px;
		}
		
		.custom-button
		{
			float:right;
			margin-left:3px;
			margin-right:3px;
			display:none;
		}
		
		.custom-font-size
		{
			font-size:16px;
		}
		
		.custom-div
		{
			float:left;
			height:40px;
			width:100%;
		}
		
		.names
		{
			float:left;
			font-size:20px;
		}
		
		h4
		{
			text-align:left;
		}
		
		hr
		{
			margin-top:30px;
			margin-bottom:10px;
			float:left;
			width:200px;
			height:1px;
			border:none;
			border-top:1px solid #222222;
		}

		.animation1
		{
			animation: animation1 0.5s;
			-moz-animation: animation1 0.5s;	/* Firefox */
			-webkit-animation: animation1 0.5s;	/* Safari 和 Chrome */
			-o-animation: animation1 0.5s;	/* Opera */
		}

		@keyframes animation1
		{
			0%   {opacity:0;}
			100% {opacity:1;}
		}

		@-moz-keyframes animation1 /* Firefox */
		{
			0%   {opacity:0;}
			100% {opacity:1;}
		}

		@-webkit-keyframes animation1 /* Safari and Chrome */
		{
			0%   {opacity:0;}
			100% {opacity:1;}
		}

		@-o-keyframes animation1 /* Opera */
		{
			0%   {opacity:0;}
			100% {opacity:1;}
		}
	</style>
</head>
<body>

	<div id="content">
	</div>
	
	<div class="modal fade" id="modal-add-course" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>添加课程</h3>
				</div>
				<div class="modal-body">
					<h4>课程标题</h4>
					<input id="input-add-course-1" type="text" class="form-control"></input>
					<h4>课程内容</h4>
					<textarea id="input-add-course-2" type="text" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="confirmCourse()" data-dismiss="modal">添加</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-modify-course" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>课程信息</h3>
				</div>
				<div class="modal-body">
					<h4>课程标题</h4>
					<input id="input-modify-course-1" type="text" class="form-control"></input>
					<h4>课程内容</h4>
					<textarea id="input-modify-course-2" type="text" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="modifyCourse()" data-dismiss="modal">修改</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-add-class" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>添加实验</h3>
				</div>
				<div class="modal-body">
					<h4>实验标题</h4>
					<input id="input-add-class-1" type="text" class="form-control"></input>
					<h4>实验内容</h4>
					<textarea id="input-add-class-2" type="text" class="form-control"></textarea>
					<h4>开始时间</h4>
					<input id="input-add-class-3" name="check-1" type="text" onchange="checkForm(1,this.value)" onkeyup="checkForm(1,this.value)" class="form-control"></input>
					<h4>结束时间</h4>
					<input id="input-add-class-4" name="check-2" type="text" onchange="checkForm(2,this.value)" onkeyup="checkForm(2,this.value)" class="form-control"></input>
					<h4>实验地点</h4>
					<input id="input-add-class-5" type="text" class="form-control"></input>
				</div>
				<div class="modal-footer">
					<button name="check-button-1" class="btn btn-primary" onclick="confirmClass()" data-dismiss="modal">添加</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-modify-class" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>实验信息</h3>
				</div>
				<div class="modal-body">
					<h4>实验标题</h4>
					<input id="input-modify-class-1" type="text" class="form-control"></input>
					<h4>实验内容</h4>
					<textarea id="input-modify-class-2" type="text" class="form-control"></textarea>
					<h4>开始时间</h4>
					<input id="input-modify-class-3" name="check-3" type="text" onchange="checkForm(3,this.value)" onkeyup="checkForm(3,this.value)" class="form-control"></input>
					<h4>结束时间</h4>
					<input id="input-modify-class-4" name="check-4" type="text" onchange="checkForm(4,this.value)" onkeyup="checkForm(4,this.value)" class="form-control"></input>
					<h4>实验地点</h4>
					<input id="input-modify-class-5" type="text" class="form-control"></input>
				</div>
				<div class="modal-footer">
					<button name="check-button-2" class="btn btn-primary" onclick="modifyClass()" data-dismiss="modal">修改</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>推送消息</h3>
				</div>
				<div class="modal-body">
					<h4>标题</h4>
					<input id="input-message-1" type="text" class="form-control"></input>
					<h4>内容</h4>
					<textarea id="input-message-2" type="text" class="form-control"></textarea>
					<h4>deadline</h4>
					<input id="input-message-3" name="check-5" type="text" onchange="checkForm(5,this.value)" onkeyup="checkForm(5,this.value)" class="form-control"></input>
					<h4>消息类型</h4>
					<div style="float:left">
						<input type="radio" name="input-message-4" value="homework" checked="true">作业</input>
						<input type="radio" name="input-message-4" value="notification">消息</input>
					</div>
				</div>
				<div class="modal-footer">
					<button name="check-button-3" class="btn btn-primary" onclick="pushMessages()" data-dismiss="modal">确认</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-files" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>文件操作</h3>
				</div>
				<div class="modal-body">
					<h4>文件列表</h4>
					<form id="up-load-file" action="" method="post" enctype="multipart/form-data" onsubmit="return upLoadFiles()">
 						<input id="file-file" type="file" name="file[file]">
  						<input hidden="hidden" id="file-name" type="text" name="file[name]">
 						<input hidden="hidden" id="file-type" type="text" name="file[type]">
 						<button type="submit" class="btn btn-primary">提交</button>
					</form>
					
					<h4>已有文件</h4>
					<div id="input-files-2" style="margin-left:20px"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" type="button" data-dismiss="modal">×</button>
					<h3>确认删除？</h3>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" onclick="deleteItem()" data-dismiss="modal">确认</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		var info,choosei,choosej,choosek,usersId,focusi=-1,focusj=-1,focusk=-1;
		
		function confirmCourse()  //新课程的信息
		{
			var text1,text2,i,p;
			text1=$("#input-add-course-1")[0].value;
			text2=$("#input-add-course-2")[0].value;
			p=new Object();
			p.course=new Object();
			p.course.name=text1;
			p.course.description=text2;
			p.course.semester_id=info.semesters[choosei].id;
			
			$.post('/teachers/'+usersId+'/courses.json', p,
    		function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("添加失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				i=info.semesters[choosei].tot++;
    				p.course.id=data.id;
    				info.semesters[choosei].courses[i]=p.course;
    				info.semesters[choosei].courses[i].tot=0;
    				info.semesters[choosei].courses[i].clicked=false;
    				info.semesters[choosei].courses[i].lessons=new Array();
    				showInfo();
    				return;
    			}
    			alert("unexpected: confirmCourse");
    		}
    		);
    	}
    	
    	function modifyCourse()    //修改课程信息
    	{
    		var text1,text2,i,p;
    		p=new Object();
    		p.course=info.semesters[choosei].courses[choosej];
    		text1=$("#input-modify-course-1")[0].value;
			text2=$("#input-modify-course-2")[0].value;
			p.course.name=text1;
			p.course.description=text2;
			$.ajax({url:'/courses/'+p.course.id+'.json',data:p,type:"PUT",async:false,success:function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("修改失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				info.semesters[choosei].courses[choosej]=p.course;
    				showInfo();
    				return;
    			}
    			alert("unexpected: modifyCourse");
    		}});
    	}
		
		function confirmClass()  //新实验的信息
		{
			var text1,text2,text3,text4,text5,i,p;
			p=new Object();
			text1=$("#input-add-class-1")[0].value;
			text2=$("#input-add-class-2")[0].value;
			text3=$("#input-add-class-3")[0].value;
			text4=$("#input-add-class-4")[0].value;
			text5=$("#input-add-class-5")[0].value;
			p.lesson=new Object();
			p.lesson.name=text1;
			p.lesson.description=text2;
			p.lesson.start_time=text3;
			p.lesson.end_time=text4;
			p.lesson.location=text5;
			
			$.post('/courses/'+info.semesters[choosei].courses[choosej].id+'/lessons.json',p,
    		function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("添加失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				p.lesson.id=data.id;
    				i=info.semesters[choosei].courses[choosej].tot++;
    				info.semesters[choosei].courses[choosej].lessons[i]=p.lesson;
    				info.semesters[choosei].courses[choosej].lessons[i].clicked=false;
    				showInfo();
    				return;
    			}
    			alert("unexpected: confirmClass");
    		}
    		);
		}
		
		function modifyClass()  //修改实验信息
		{
			var text1,text2,text3,text4,text5,i,p;
			p=new Object();
			p.lesson=info.semesters[choosei].courses[choosej].lessons[choosek];
			text1=$("#input-modify-class-1")[0].value;
			text2=$("#input-modify-class-2")[0].value;
			text3=$("#input-modify-class-3")[0].value;
			text4=$("#input-modify-class-4")[0].value;
			text5=$("#input-modify-class-5")[0].value;
			p.lesson.name=text1;
			p.lesson.description=text2;
			p.lesson.start_time=text3;
			p.lesson.end_time=text4;
			p.lesson.location=text5;
			
			$.ajax({url:'/lessons/'+p.lesson.id+'.json',data:p,type:"PUT",async:false,success:function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("修改失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				info.semesters[choosei].courses[choosej].lessons[choosek]=p.lesson;
    				showInfo();
    				return;
    			}
    			alert("unexpected: modifyClass");
    		}});
		}
		
		function deleteItem()
		{
			var id=-1,i;
			if (choosek==-1)    //删除课程
			{
				id=info.semesters[choosei].courses[choosej].id;
				$.ajax({url:'/courses/'+id+'.json',data:{},type:"DELETE",success:function(data)
				{
					if (data.status=="failed")
    				{
    					alert("删除失败");return;
    				}
    				if (data.status=="successful")
    				{
    					for (i=choosej;i<info.semesters[choosei].tot-1;++i)
    					{
  							info.semesters[choosei].courses[i]=info.semesters[choosei].courses[i+1];
  						}
  						--info.semesters[choosei].tot;
    					showInfo();
    					return;
    				}
    				alert("unexpected: deleteItem");
    			}});
    		}else   //删除实验
    		{
    			id=info.semesters[choosei].courses[choosej].lessons[choosek].id;
    			$.ajax({url:'/lessons/'+id+'.json',data:{},type:"DELETE",success:function(data)
				{
					if (data.status=="failed")
					{
						alert("删除失败");return;
					}
    				if (data.status=="successful")
    				{
    					for (i=choosek;i<info.semesters[choosei].courses[choosej].tot-1;++i)
    					{
  							info.semesters[choosei].courses[choosej].lessons[i]=info.semesters[choosei].courses[choosej].lessons[i+1];
  						}
  						--info.semesters[choosei].courses[choosej].tot;
    					showInfo();
    					return;
    				}
    				alert("unexpected: deleteItem");
    			}});
    		}
		}
		
		function pushMessages()   //推送消息
		{
			var text1,text2,text3,text4,i,p,q;
			p=new Object();
			p.message=new Object();
			text1=$("#input-message-1")[0].value;
			text2=$("#input-message-2")[0].value;
			text3=$("#input-message-3")[0].value;
			q=$("input[name='input-message-4']");
			for (i=0;i<q.length;++i)
			if (q[i].checked)
			{
				text4=q[i].value;
			}
			p.message.title=text1;
			p.message.content=text2;
			p.message.deadline=text3;
			p.message.type=text4;
			
			$.ajax({url:'/courses/'+info.semesters[choosei].courses[choosej].id+'/messages.json',data:p,type:"POST",async:false,success:function(data)
    		{
    			if (data.status=="failed")
    			{
    				alert("修改失败");
    				return;
    			}
    			if (data.status=="successful")
    			{
    				return;
    			}
    			alert("unexpected: pushMessages");
    		}});
		}
		
		function getFileName(o)
		{
   			var pos=o.lastIndexOf("\\");
   			return o.substring(pos+1);  
		}
		
		function upLoadFiles()
		{
			var text=getFileName($("#file-file").val());
			$("#file-name")[0].value=text;
		//	$("#file-type")[0].value=text.substring(text.lastIndexOf(".")+1);
			$("#file-type")[0].value="file";
			$("#up-load-file").ajaxSubmit(function(data)
			{
				if (data.status=="failed")
				{
					alert("上传失败");
				}
				if (data.status=="successful")
				{
					showFiles();
				}
			});
			return false;
		}
		
		function deleteFiles(i)
		{
			$.ajax({url:'/files/'+i+'.json',data:{},async:false,type:"DELETE",success:function(data)
			{
				if (data.status=="failed")
				{
					alert("删除失败");
				}
				if (data.status=="successful")
				{
					showFiles();
				}
			}});
		}
		
		function showFiles()
		{
			$.get('/lessons/'+info.semesters[choosei].courses[choosej].lessons[choosek].id+'/files.json',{},
			function(data)
			{
				if (data.status=="failed")
				{
					alert("获取文件失败");
				}
				if (data.status=="successful")
				{
					data=data.files;
					var text="";
					for (i=0;i<data.length;++i)
					{
						text+='<div class="custom-div"><a class="custom-font-size" style="float:left" target="_top" href="'+data[i].path+'">'+data[i].name+'</a>';
						text+='<button class="btn btn-default btn-xs custom-font-size" style="float:left" onclick="deleteFiles('+data[i].id+')">删除</button></br></div>';
					}
					if (data.length==0)
					{
						text='<div style="float:left">无文件</div>';
					}
					$("#input-files-2")[0].innerHTML=text;
				}
			});
		}
		
		function checkDateTime(text)
		{
    		var reg = /^(\d+)-(\d{1,2})-(\d{1,2}) (\d{1,2}):(\d{1,2}):(\d{1,2})$/;
    		var r = text.match(reg);
   		 	if(r==null)return false;
   		 	--r[2];
    		var d= new Date(r[1], r[2],r[3], r[4],r[5], r[6]);
    		if(d.getFullYear()!=r[1])return false;
    		if(d.getMonth()!=r[2])return false;
    		if(d.getDate()!=r[3])return false;
    		if(d.getHours()!=r[4])return false;
    		if(d.getMinutes()!=r[5])return false;
    		if(d.getSeconds()!=r[6])return false;
    		return true;
		} 
		
		var checkStatus=[false,false,false,false,false];
		function checkForm(i,text)
		{
			var p=$('input[name="check-'+i+'"]')[0];
			if (text=="")
			{
				p.style.boxShadow="0px -1px 0px #DDD inset";
				checkStatus[i]=false;
			}else
			if (checkDateTime(text))
			{
				p.style.boxShadow="0px -1px 0px #0A0 inset";
				checkStatus[i]=true;
			}else
			{
				p.style.boxShadow="0px -1px 0px #F00 inset";
				checkStatus[i]=false;
			}
			if (i>=1&&i<=2)
			{
				if (checkStatus[1]&&checkStatus[2])
				{
					$('button[name="check-button-1"]').attr({"disabled":false});
				}else
				{
					$('button[name="check-button-1"]').attr({"disabled":true});
				}
			}
			if (i>=3&&i<=4)
			{
				if (checkStatus[3]&&checkStatus[4])
				{
					$('button[name="check-button-2"]').attr({"disabled":false});
				}else
				{
					$('button[name="check-button-2"]').attr({"disabled":true});
				}
			}
			if (i==5)
			{
				if (checkStatus[5])
				{
					$('button[name="check-button-3"]').attr({"disabled":false});
				}else
				{
					$('button[name="check-button-3"]').attr({"disabled":true});
				}
			}
		}
		
		function modifyDateTime(text)
		{
			var i;
			text=text.replace("T"," ");
			for (i=0;i<text.length;++i)
			{
				if (text[i]=='.') return text.substring(0,i);
			}
			return "";
		}
		
		function loadInfo()  //从后台获取课程信息
		{
			info=new Object();
			info.tot=0;
			info.semesters=new Array();
			var data1,data2;
			
			function deal()
			{
				if (data1.status=="failed"||data2.status=="failed")
				{
					alert("获取信息失败");
					return;
				}
				if (data1.status=="successful"&&data2.status=="successful")
				{
					var data,i,j,k,p1,p2;
					data=data1.semesters;
					for (i=0;i<data.length;++i)
					{
						j=info.tot++;
						info.semesters[j]=new Object();
						info.semesters[j].name=data[i].name;
						info.semesters[j].id=data[i].id;
						info.semesters[j].tot=0;
						info.semesters[j].courses=new Array();
						info.semesters[j].clicked=false;
					}
					usersId=data2.id;
					
					$.ajax({url:"/teachers/"+usersId+"/courses.json",data:{},async:false,type:"GET",success:function(data)    //#modify
					{
						if (data.status=="failed")
						{
							alert("获取信息失败");
							return;
						}
						if (data.status=="successful")
						{
							data=data.courses;
							for (p1=0;p1<data.length;++p1)
							{
								i=-1;
								for (j=0;j<info.tot;++j)
								if (info.semesters[j].id==data[p1].semester_id)
								{
									i=j;break;
								}
								if (i==-1)
								{
									alert("No such semester.");continue;
								}
								j=info.semesters[j].tot++;
								info.semesters[i].courses[j]=data[p1];
								info.semesters[i].courses[j].tot=0;
								info.semesters[i].courses[j].lessons=new Array();
								info.semesters[i].courses[j].clicked=false;
								$.ajax({url:"/courses/"+data[p1].id+"/lessons.json",data:{},async:false,type:"GET",success:function(data)   //#modify
								{
									if (data.status=="failed")
									{
										alert("无法获取课程的实验");
										return;
									}
									if (data.status=="successful")
									{
										data=data.lessons;
										for (p2=0;p2<data.length;++p2)
										{
											data[p2].start_time=modifyDateTime(data[p2].start_time);
											data[p2].end_time=modifyDateTime(data[p2].end_time);
											k=info.semesters[i].courses[j].tot++;
											info.semesters[i].courses[j].lessons[k]=data[p2];
											info.semesters[i].courses[j].lessons[k].clicked=false;
										}
										return;
									}
									alert("unexpected: /courses/id/lessons.json");
								}});
							}
							showInfo();
						}else
						{
							alert("unexpected error");
						}
					}});
				}else
				{
					alert("unexpected error");
				}
			}
				
			$.ajax({url:"/semesters.json",data:{},type:"GET",success:function(data)
			{
				data1=data;
				if (data1&&data2) deal();
			}});
			
			$.ajax({url:"/users/current.json",data:{},type:"GET",success:function(data)    //#modify
			{
				data2=data;
				if (data1&&data2) deal();
			}});
			
		}
		
		function change(i,j,k)  //i, j, k分别表示当前点击的学期，课程，实验
		{
			if (k!=-1)
			info.semesters[i].courses[j].lessons[k].clicked=!info.semesters[i].courses[j].lessons[k].clicked;
			else if (j!=-1)
			info.semesters[i].courses[j].clicked=!info.semesters[i].courses[j].clicked;
			else if (i!=-1)
			info.semesters[i].clicked=!info.semesters[i].clicked;
			focusi=i;focusj=j;focusk=k;
			showInfo();
		}
		
		function changeCourseInfo(event,i,j)   //修改第i学期第j门课的信息
		{
			$("#input-modify-course-1")[0].value=info.semesters[i].courses[j].name;
			$("#input-modify-course-2")[0].value=info.semesters[i].courses[j].description;
			choosei=i;choosej=j;
			$('#modal-modify-course').modal('show');
			event.stopPropagation();
		}
		
		function changeClassInfo(event,i,j,k)  //修改第i学期第j门课的第k次实验的信息
		{
			$("#input-modify-class-1")[0].value=info.semesters[i].courses[j].lessons[k].name;
			$("#input-modify-class-2")[0].value=info.semesters[i].courses[j].lessons[k].description;
			$("#input-modify-class-3")[0].value=info.semesters[i].courses[j].lessons[k].start_time;
			$("#input-modify-class-4")[0].value=info.semesters[i].courses[j].lessons[k].end_time;
			$("#input-modify-class-5")[0].value=info.semesters[i].courses[j].lessons[k].location;
			choosei=i;choosej=j;choosek=k;
			$("#input-modify-class-3").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
            $("#input-modify-class-4").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
			checkForm(3,info.semesters[i].courses[j].lessons[k].start_time);
			checkForm(4,info.semesters[i].courses[j].lessons[k].end_time);
			$('#modal-modify-class').modal('show');
			event.stopPropagation();
		}
		
		function addCourse(event,i)  //为第i学期添加课程
		{
			choosei=i;
			$("#input-add-course-1")[0].value=$("#input-add-course-2")[0].value="";
			$('#modal-add-course').modal('show');
			event.stopPropagation();
		}
		
		function addClass(event,i,j) //为第i学期第j门课添加实验
		{
			choosei=i;choosej=j;
			$("#input-add-class-1")[0].value=$("#input-add-class-2")[0].value="";
			$("#input-add-class-3")[0].value=$("#input-add-class-4")[0].value=$("#input-add-class-5")[0].value="";
			$("#input-add-class-3").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
            $("#input-add-class-4").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
			checkForm(1,"");checkForm(2,"");
			$('#modal-add-class').modal('show');
			event.stopPropagation();
		}
		
		function addMessages(event,i,j)   //为第i学期第j门课推送消息
		{
			choosei=i;choosej=j;choosek=-1;
			$("#input-message-1")[0].value=$("#input-message-2")[0].value="";
			$("#input-message-3")[0].value="";
			$("#input-message-3").datetimepicker({
                timeFormat: "HH:mm:ss",
                dateFormat: "yy-mm-dd"
            });
			checkForm(5,"");
			$('#modal-message').modal('show');
			event.stopPropagation();
		}
		
		function modifyFiles(event,i,j,k)  //修改第i学期第j门课第k个实验的文件
		{
			choosei=i;choosej=j;choosek=k;
			$("#up-load-file")[0].action="/lessons/"+info.semesters[i].courses[j].lessons[k].id+"/files.json";
			showFiles();
			$('#modal-files').modal('show');
			event.stopPropagation();
		}
		
		function showCourseScore(event,i,j)  //显示第i学期第j门课的学生成绩
		{
			window.open("/manage/CourseScore/"+info.semesters[i].courses[j].id);
			event.stopPropagation();
		}
		
		function showCourseInfo(event,i,j)  //显示第i学期第j门课的课程信息
		{
			window.open("/manage/CourseInfo/"+info.semesters[i].courses[j].id);
			event.stopPropagation();
		}
		
		function showStudentList(event,i,j)  //显示第i学期第j门课的学生名单
		{
			window.open("/manage/CourseStudents/"+info.semesters[i].courses[j].id);
			event.stopPropagation();
		}
		
		function showClassScore(event,i,j,k)  //显示第i学期第j门课的第k个实验的学生成绩
		{
			window.open("/manage/ClassScore/"+info.semesters[i].courses[j].id+"&"+info.semesters[i].courses[j].lessons[k].id);
			event.stopPropagation();
		}
		
		function showClassInfo(event,i,j,k)  //显示第i学期第j门课的第k个实验的课程信息
		{
			window.open("/manage/ClassInfo/"+info.semesters[i].courses[j].id+"&"+info.semesters[i].courses[j].lessons[k].id);
			event.stopPropagation();
		}
		
		function deleteCourse(event,i,j)  //删除第i学期第j门课
		{
			choosei=i;choosej=j;choosek=-1;
			$('#modal-delete').modal('show');
			event.stopPropagation();
		}
		
		function deleteClass(event,i,j,k)  //删除第i学期第j门课的第k个实验
		{
			choosei=i;choosej=j;choosek=k;
			$('#modal-delete').modal('show');
			event.stopPropagation();
		}
		
		function showInfo()  //显示课程信息
		{
			var i,j=-1,k=-1,text="",text2,text3,p=0;j=k=-1;
			
			for (i=0;i<info.tot;++i)
			{
				if (i>0)
				{
					text+='<hr>';
				}
				text2='rectangle-semester btn btn-default';
				text3='semester-'+i;
				if (p)
				{
					text2+=' animation1';
				}
				text+='<div id="'+text3+'" class="'+text2+'" onclick="change('+i+','+j+','+k+')">';
				text+='<div class="names">'+info.semesters[i].name+'</div>';
				text+='<div class="btn btn-info custom-button '+text3+'" onclick="addCourse(event,'+i+')">添加课程</div>';
				text+='</div>';
				k=-1;
				if (i==focusi&&j==focusj&&k==focusk)
				{
					p=1;
				}
				if (info.semesters[i].clicked)
				for (j=0;j<info.semesters[i].tot;++j)
				{
					text2='rectangle-course btn btn-default';
					text3='course-'+i+'-'+j;
					if (p)
					{
						text2+=' animation1';
					}
					text+='<div id="'+text3+'" class="'+text2+'" onclick="change('+i+','+j+','+k+')">';
					text+='<div class="names">'+info.semesters[i].courses[j].name+'</div>';
					text+='<div class="custom-button custom-font-size '+text3+'" onclick="deleteCourse(event,'+i+','+j+')">×</div>';
					text+='<div class="btn btn-info custom-button '+text3+'" onclick="addClass(event,'+i+','+j+')">添加实验</div>';
					text+='<div class="btn btn-info custom-button '+text3+'" onclick="changeCourseInfo(event,'+i+','+j+')">编辑</div>';
					text+='<div class="btn btn-info custom-button '+text3+'" onclick="showCourseScore(event,'+i+','+j+')">成绩</div>';
					text+='<div class="btn btn-info custom-button '+text3+'" onclick="showCourseInfo(event,'+i+','+j+')">反馈</div>';
					text+='<div class="btn btn-info custom-button '+text3+'" onclick="addMessages(event,'+i+','+j+')">推送</div>';
					text+='<div class="btn btn-info custom-button '+text3+'" onclick="showStudentList(event,'+i+','+j+')">名单</div>';
					text+='</div>';
					if (i==focusi&&j==focusj&&k==focusk)
					{
						p=2;
					}
					if (info.semesters[i].courses[j].clicked)
					{
						for (k=0;k<info.semesters[i].courses[j].tot;++k)
						{
							text2='rectangle-class btn btn-default';
							text3='lesson-'+i+'-'+j+'-'+k;
							if (p)
							{
								text2+=' animation1';
							}
							text+='<div id="'+text3+'" class="'+text2+'" onclick="change('+i+','+j+','+k+')">';
							text+='<div class="names">'+info.semesters[i].courses[j].lessons[k].name+'</div>';
							text+='<div class="custom-button custom-font-size '+text3+'" onclick="deleteClass(event,'+i+','+j+','+k+')">×</div>';
							text+='<div class="btn btn-info custom-button '+text3+'" onclick="changeClassInfo(event,'+i+','+j+','+k+')">编辑</div>';
							text+='<div class="btn btn-info custom-button '+text3+'" onclick="showClassScore(event,'+i+','+j+','+k+')">成绩</div>';
							text+='<div class="btn btn-info custom-button '+text3+'" onclick="showClassInfo(event,'+i+','+j+','+k+')">反馈</div>';
							text+='<div class="btn btn-info custom-button '+text3+'" onclick="modifyFiles(event,'+i+','+j+','+k+')">文件</div>';
							text+='</div>';
						}
					}
					k=-1;
					if (p==2)
					{
						p=0;
					}
				}
				j=-1;p=0;
			}
			
			$("#content")[0].innerHTML=text;
			function deal(text)
			{
				$("#"+text).hover(
				function()
				{
					var p=$("."+text),i;
					for (i=0;i<p.length;++i)
					{
						p[i].style.display="block";
					}
				},function()
				{
					var p=$("."+text),i;
					for (i=0;i<p.length;++i)
					{
						p[i].style.display="none";
					}
				});
			}
			for (i=0;i<info.tot;++i)
			{
				deal('semester-'+i);
				if (info.semesters[i].clicked)
				for (j=0;j<info.semesters[i].tot;++j)
				{
					deal('course-'+i+'-'+j);
					if (info.semesters[i].courses[j].clicked)
					{
						for (k=0;k<info.semesters[i].courses[j].tot;++k)
						{
							deal('lesson-'+i+'-'+j+'-'+k);
						}
					}
				}
			}
			
		}
		
		loadInfo();

	</script>
	
</body>
